
<template>
    <style>
        .frm{
            padding: 10px;
        }

        .top-form{
            display: flex;
            flex-direction: row;
            margin: 10px;
            padding: 10px 0 10px 10px;            
        }

        .pic{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: solid 1px;
            border-radius: 10px;
            padding: 5px;
            max-height: 300px;
        }

        .pic > canvas{
            max-height: 200px;
        }

        .side-pic{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        .side-pic .inline{
            padding-right: 0;
        }
     
        #up_file{
            max-width: 280px;
        }

        .fds{
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: center;
            flex-wrap: wrap;            
        }

        @media all and (max-width : 1000px) {
            .top-form{
                flex-direction: column;
                padding: 0;
                margin: 0;
                align-items: center;
            }

            .line-ckb{
                
                margin-top: 15px;
            }

            .line-ckb label{
                width: auto;
            }

            .fds{
                flex-direction: row;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Produto</legend>

        <div class="top-form">
            <div class="pic">
                <canvas id="cnvImg"></canvas>
                <input  name="up_file" id="up_file" type="file" accept=".jpg,.jpeg" class="only-view" onfocus="this.select();" disabled>            
            </div>
            <div class="side-pic">
                <div class="inline">
                    <label for="edtDesc">Descrição *</label>
                    <input type="text" class="only-view" id="edtDesc" maxlength="80" onfocus="this.select();" disabled>
                </div>
                <div class="inline">
                    <label for="cmbForn">Fornecedor</label>
                    <select id="cmbForn" class="only-view" onfocus="this.select();" disabled></select>   
                </div>
                <div class="inline">
                    <label for="edtLocal">Local</label>
                    <input type="text" class="only-view" id="edtLocal" maxlength="20" onfocus="this.select();" disabled>
                </div>
                <div class="inline">
                    <label for="edtNCM">NCM</label>
                    <input type="text" class="only-view" id="edtNCM" maxlength="8" onkeyup="valInt(this)" inputmode="numeric" onfocus="this.select();" disabled>
                </div>
                <div class="inline">
                    <label for="edtCodFW">Código</label>
                    <input type="text" class="only-view" id="edtCodFW" maxlength="20" onfocus="this.select();" disabled>
                    <label for="edtCodForn">Cód. Forn.</label>
                    <input type="text" class="only-view" id="edtCodForn" maxlength="20" onfocus="this.select();" disabled>
                </div>
                <div class="inline">
                    <label for="edtCodBar">Cód. Barra</label>
                    <input type="text" class="only-view" id="edtCodBar" maxlength="20" inputmode="numeric" onfocus="this.select();" disabled>        
                    <label for="cmbCons">Consumo</label>
                    <select id="cmbCons" class="only-view" onfocus="this.select();" disabled>
                        <option value="1">SIM</option>
                        <option value="0" selected>NÃO</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="inline">
            <label for="cmdUnd">Unidade</label>
            <select id="cmdUnd" class="only-view" disabled></select>
            <label for="edtEtq">Estoque</label>
            <input type="text" class="only-view" id="edtEtq" maxlength="10" onkeyup="valFloat(this)" inputmode="decimal" disabled>
            <label for="edtEtqMin">Estq. Min.</label>
            <input type="text" class="only-view" id="edtEtqMin" maxlength="10" onkeyup="valFloat(this)" inputmode="decimal" disabled>              
        </div>
        <div class="inline">
            <label for="edtCusto">Custo* (R$)</label>
            <input type="text" class="only-view" id="edtCusto" onkeyup="valFloat(this)" onfocus="this.select();" value="0" inputmode="decimal" disabled>
            <label for="edtMarkup">Markup* (%)</label>
            <input type="text" class="only-view" id="edtMarkup" onkeyup="valFloat(this)" onfocus="this.select();" value="0" inputmode="decimal" disabled>    
        </div>
        <div class="inline">
            <fieldset class="fds">
                <legend>Cardápio</legend>
                <div class="line-ckb">
                    <label for="ckbDisp">Disponível</label>
                    <input type="checkbox" id="ckbDisp" class="only-view" disabled>
                </div>
                <div class="inline">
                    <label for="cmbTipo">Tipo</label>
                    <select id="cmbTipo" class="only-view" disabled></select>
                </div>
            </fieldset>            
        </div>         
        <div class="line">
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnEdit">Editar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>

</template>
<script>
    
    const pageData = main_data.adm_view_prod.data
    const pageFunc = main_data.adm_view_prod.func
    const pageScreen = document.querySelector('#card-adm_view_prod')
    const newReg = Object.keys(pageData).length == 0

    function pageStart(){
        getFile('/../config/params/params.json').then((response)=>{
            pageData.params = JSON.parse(response)
            fillParams()
        })  

        openFields(newReg)
        fillEmp()
        loadFoto()
        if(newReg){
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('#up_file').disabled = 1
        }else{
            pageScreen.querySelector('#edtDesc').value = pageData.descricao
            pageScreen.querySelector('#edtCodFW').value = pageData.cod_int
            pageScreen.querySelector('#edtCodForn').value = pageData.cod_forn
            pageScreen.querySelector('#edtCodBar').value = pageData.cod_bar
            pageScreen.querySelector('#cmdUnd').value = pageData.und
            pageScreen.querySelector('#edtEtq').value = pageData.estoque
            pageScreen.querySelector('#edtEtqMin').value = pageData.estq_min
            pageScreen.querySelector('#cmbCons').value = pageData.consumo
            pageScreen.querySelector('#edtCusto').value = pageData.custo
            pageScreen.querySelector('#edtMarkup').value = pageData.markup
            pageScreen.querySelector('#edtLocal').value = pageData.local
            pageScreen.querySelector('#edtNCM').value = pageData.ncm
            pageScreen.querySelector('#ckbDisp').checked = parseInt(pageData.disponivel)
            pageScreen.querySelector('#cmbTipo').value = pageData.tipo
        }
    }

    function fillEmp(){
        const params = new Object;
            params.field = 'id'
            params.signal = '>='
            params.value = '1'
        const myPromisse = queryDB(params,'EMP-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const cmb = pageScreen.querySelector('#cmbForn')
            cmb.innerHTML=''
            for(let i=0; i<json.length; i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].fantasia
                if(!newReg){
                    opt.selected =  json[i].id == pageData.id_emp ? 1 : 0
                }
                cmb.appendChild(opt)
            }            
        })
    }

    function fillParams(){
        const cmbUnd = pageScreen.querySelector('#cmdUnd')
        cmbUnd.innerHTML=''
        for (const [key, value] of Object.entries(pageData.params.und)) {
            const opt = document.createElement('option')
            opt.value = value
            opt.innerHTML = key
            if(!newReg){
                opt.selected = opt.value == pageData.und ? 1 : 0
            }
            cmbUnd.appendChild(opt)
        }

        const cmbTipo = pageScreen.querySelector('#cmbTipo')
        cmbTipo.innerHTML=''
        for (let i=0; i<pageData.params.item_cardapio.length; i++) {
            const opt = document.createElement('option')
            opt.value = pageData.params.item_cardapio[i].toUpperCase()
            opt.innerHTML = pageData.params.item_cardapio[i]
            if(!newReg){
                opt.selected = opt.value == pageData.tipo ? 1 : 0
            }
            cmbTipo.appendChild(opt)
        }
    }

    function loadFoto(){
        const back = backFunc({'filename':`../assets/prod/prod_${pageData.id}.jpg`},1)
        back.then((resp)=>{
            const imgExist = JSON.parse(resp)    
            loadImg( imgExist ? `assets/prod/prod_${pageData.id}.jpg` : 'assets/prod/noimage.jpg')
        })  
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
        pageScreen.querySelector('#btnEdit').disabled = open
    }

    pageFunc.setProd = (del=0)=>{
        const params = new Object;
            params.id = newReg ? 0 : pageData.id
            params.id_emp = pageScreen.querySelector('#cmbForn').value
            params.descricao = del ? '' : pageScreen.querySelector('#edtDesc').value.trim()
            params.estoque = pageScreen.querySelector('#edtEtq').value.trim()
            params.estq_min = pageScreen.querySelector('#edtEtqMin').value.trim()
            params.und = pageScreen.querySelector('#cmdUnd').value
            params.ncm = pageScreen.querySelector('#edtNCM').value.trim()
            params.cod_int = pageScreen.querySelector('#edtCodFW').value.trim()
            params.cod_bar = pageScreen.querySelector('#edtCodBar').value.trim()
            params.cod_forn = pageScreen.querySelector('#edtCodForn').value.trim()
            params.consumo = pageScreen.querySelector('#cmbCons').value
            params.custo = pageScreen.querySelector('#edtCusto').value.trim()
            params.markup = pageScreen.querySelector('#edtMarkup').value.trim()
            params.local = pageScreen.querySelector('#edtLocal').value.trim()
            params.disp = pageScreen.querySelector('#ckbDisp').checked
            params.tipo = pageScreen.querySelector('#cmbTipo').value
          
        const myPromisse = queryDB(params,'PROD-1');
        myPromisse.then((resolve)=>{            
            setLog(`Produto ${newReg?'Cadastrado':'Editado'} ${ !newReg ? pageData.descricao :''} -> ${params.descricao}`)
            try{
                main_data.adm_produtos.func.fillProd()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('adm_view_prod')
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtDesc','edtCusto','edtMarkup'])){
            pageFunc.setProd()
        }
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja realmente deletar este produto?')){
            pageFunc.setProd(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    pageScreen.querySelector('#up_file').addEventListener('change',()=>{        
        showFile()
        const up = uploadImage('up_file','assets/prod/',`prod_${pageData.id}.jpg`)
        up.then((resp)=>{
            setLog(` Imagem Alterada -> Produto: ${pageData.descricao}`)
        })
    })

    pageStart()
</script>