<template>
    <style>
     
    </style>
    <fieldset>

        <div class="inline">
            <label for="edtNome">Nome *</label>
            <input type="text" class="only-view" id="edtNome" maxlength="50" onfocus="this.select();">
        </div>

        <div class="inline">
            <label for="edtCPF">CPF *</label>
            <input type="text" class="only-view" id="edtCPF" onkeyup="valCPF(this)" inputmode="numeric" maxlength="14" onfocus="this.select();">
            <label for="edtCel">Celular</label>
            <input type="text" class="only-view" id="edtCel" onkeyup="valFone(this)" inputmode="numeric"maxlength="15" onfocus="this.select();" >
        </div>

        <div class="inline">
        </div>

        <div class="inline">
            <label for="edtSaldo">Saldo</label>
            <input type="text" class="only-view" id="edtSaldo" value="0" onfocus="this.select();" >
        </div>

        <div class="inline">
            <label for="edtObs">Obs</label>
            <textarea id="edtObs" class="only-view" cols="30" rows="10" maxlength="255" onfocus="this.select();"></textarea>
        </div>        

        <div class="line">
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnEdit">Editar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>


</template>
<script>

    const pageData = main_data.adm_view_cli.data
    const pageFunc = main_data.adm_view_cli.func
    const pageScreen = document.querySelector('#card-adm_view_cli')
    const newReg = Object.keys(pageData).length <= 1

    function pageStart(){
        openFields(newReg)
        if(!newReg){
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtCPF').value = getCPF(pageData.cpf)
            pageScreen.querySelector('#edtCel').value = getFone(pageData.cel)
            pageScreen.querySelector('#edtSaldo').value = pageData.saldo
            pageScreen.querySelector('#edtObs').value = pageData.obs
        }else{
            pageScreen.querySelector('#edtSaldo').disabled = true
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
        pageScreen.querySelector('#btnEdit').disabled = open
    }

    document.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtNome','edtCPF'])){
            const params = new Object;
                params.id = newReg ? 0 : pageData.id
                params.nome = pageScreen.querySelector('#edtNome').value.trim()
                params.cpf = getNum(pageScreen.querySelector('#edtCPF').value.trim())
                params.cel = getNum(pageScreen.querySelector('#edtCel').value.trim())
                params.saldo = pageScreen.querySelector('#edtSaldo').value.trim()
                params.obs = pageScreen.querySelector('#edtObs').value.trim()
            
            const myPromisse = queryDB(params,'CLI-1');
            myPromisse.then((resolve)=>{
                const resp = JSON.parse(resolve)[0]
                setLog(`${newReg?'Novo Cliente':'Edição de Cliente'} Nome: ${params.nome}, CPF: ${params.cpf}, Cel: ${params.cel}, Saldo: ${params.saldo}, Obs: ${params.obs}`)

                    if(main_data.hasOwnProperty(pageData.org)){
                        params.id = resp.id_cliente
                        main_data[pageData.org].func.newRegent(params)
                    }else{
                        console.error('Tela fechada pelo usuário!')
                    }

                alert(resp.MESSAGE)
                closeModal('adm_view_cli')
            })
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(pageScreen,1)
            }
        }else{
            openFields(pageScreen,0)
        }
    })

    pageStart()

</script>