<template>
    <style></style>

    <fieldset>
        <legend>Novo Usuário</legend>
        <div class="inline">
            <label for="name">Nome*</label>
            <input type="text" onfocus="this.select();" id="name">            
        </div>
        <div class="inline">
            <label for="email">Email*</label>
            <input type="email" onfocus="this.select();" id="email" onkeyup="validaEmail(this)">            
        </div>
        <div class="inline">
            <label for="edtNewPass">Senha*</label>
            <input type="password" onfocus="this.select();" id="edtNewPass">            
        </div>
        <div class="inline">
            <label for="edtRePass">Repita a senha</label>
            <input type="password" onfocus="this.select();" id="edtRePass">            
        </div>   

        <div class="line">
            <button id="btnSave">Criar Usuário</button>
        </div>
    </fieldset>

    <div class="legenda"></div>

</template>
<script>

    document.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['name','email'])){
            if(checkMinLength(['edtNewPass'],8)){
                if(checkRepass(['edtNewPass','edtRePass'])){
                    if(checkValidation(['email'])){
                        newUser()
                    }
                }
            }
        }      
    })

    function newUser(){
        const params = new Object;
            params.nome = document.querySelector('#name').value.trim()
            params.email = document.querySelector('#email').value.trim()
            params.pass = document.querySelector('#edtNewPass').value
        const myPromisse = queryDB(params,'USR-4');
        myPromisse.then((resolve)=>{
            const hash = JSON.parse(resolve)[0].hash
            if(hash == '0'){
                alert('Este email já esta cadastrado, caso não se lembra clique em "Esqueci a senha".')
                closeModal('out_new_user')
            }else{
                confirmaUser(params.email,hash)
                alert('Verifique seu email para confirmar seu cadastro.')
                closeModal('out_new_user')
            }
        })
    }
    
</script>