
<template>
    <style></style>

        <fieldset id="fdsUND">
            <legend>Unidades</legend>
            <table id="tblUND"></table>            
        </fieldset>
        <div class="line">
            <button id="btnAdd">Adicionar</button>
        </div>
</template>
<script>

    const pageData = main_data.par_unidades.data
    const pageFunc = main_data.par_unidades.func
    const pageScreen = document.querySelector('#card-par_unidades')

    function pageStart(){
        
        getFile('/../config/params/params.json').then((response)=>{            
            pageData.params = JSON.parse(response)
            try{
                pageData.params.und = pageData.params.und == undefined ? new Object : pageData.params.und
            }catch{
                pageData.params.und = new Object
            }
            fillUnd()
        })        
    }

    function fillUnd(){
        const tbl = pageScreen.querySelector('#tblUND')
        tbl.head('Nome,Sigla')
        let i=0
        for (const [key, value] of Object.entries(pageData.params.und)) {
            pageData.params.und[key] = value
            tbl.plot({key:key, value:value, index:i},`key,value`,'str,Upp')
            i++
        }
    }

    function saveUnd(){
        saveFile(pageData.params,'/../config/params/params.json').then((resolve)=>{        
            fillUnd()
        })
    }

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        const nome = prompt('Nome da Unidade:')
        const sigla = prompt('Sigla:')
        pageData.params.und[nome] = sigla     
        saveUnd()
    })

    pageScreen.querySelector('#tblUND').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        const tbl = []

        const edt = new Object
        edt.label = 'Editar'
        edt.link = ()=>{
            const nome = prompt('Nome da Unidade:',pageData.params.und[data.key])
            const sigla = prompt('Sigla:',pageData.params.und[data.value])
            delete pageData.params.und[data.key]
            pageData.params.und[nome] = sigla
            saveUnd()
        }            
        tbl.push(edt)

        const del = new Object
        del.label = 'Deletar'
        del.link = ()=>{
            delete pageData.params.und[data.key]
            saveUnd()
        }            
        tbl.push(del)

        menuContext(tbl,e)

    })

    pageStart()
</script>