<template>
    <style></style>

    <table id="tbl-planos"></table>
    <div class="line">
        <button id="btnNovo">Novo Plano</button>
    </div>

</template>
<script>
    const pageData = main_data.pn3_planos.data
    const pageFunc = main_data.pn3_planos.func
    const pageScreen = document.querySelector('#card-pn3_planos')

    function pageStart(){

        pageFunc.fillPlanos()

    }

    pageFunc.fillPlanos = ()=>{
        queryDB({},'CRED-0').then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tbl-planos')
            tbl.head('Nome, Valor, Crédito')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'nome,valor,credito','Upp,R$.,int')
            }
        })
    }

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('pn3_view_plano.html','pop-up','Novo Plano',{},600)
    })

    pageScreen.querySelector('#tbl-planos').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data != undefined ? openHTML('pn3_view_plano.html','pop-up',`Edição de dados - ${data.nome.toUpperCase()}`,data) : null
    })

    pageStart()
</script>