<template>
    <style>
        .plano{
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }

        .plano-frame{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: solid 2px;
            padding: 10px;
            border-radius: 15px;
            width: 220px;
            background-color: rgb(255, 255, 255);
        }

        .plano-titulo{
            font-size: 2em;
            margin-bottom: 10px;
        }

        .plano-sobre{
            padding-bottom: 30px;
        }

        .plano-frame > *{
            text-align: center;
        }

        .plano-preco{
            font-size: 1.5em;
        }

        .plano-btn{
            background-color: #FFCF00;
            border: solid 1px;
            border-radius: 5px;
        }

        .small{
            font-size: 0.8em;
        }

        .strong{
            font-weight: bold;
        }

    </style>

    <div class="plano"></div>


</template>
<script>
    const pageData = main_data.pn3_add_cred.data
    const pageFunc = main_data.pn3_add_cred.func
    const pageScreen = document.querySelector('#card-pn3_add_cred')

    function addComp(type,html,cls=''){
        const out = document.createElement(type)
        out.innerHTML = html
        if(cls!=''){
            out.className = cls
        }
        return out
    }


    function pageStart(){
        pageFunc.fillPlanos()
    }

    pageFunc.fillPlanos = ()=>{
        queryDB({},'CRED-0').then((resolve)=>{
            const json = JSON.parse(resolve)
            const panel = pageScreen.querySelector('.plano')
            panel.innerHTML = ''
            for(let i=0; i<json.length; i++){
                const div = document.createElement('div')
                div.className = 'plano-frame'
                div.innerHTML = ''

                div.appendChild(addComp('h4',json[i].nome,'plano-titulo'))
                div.appendChild(addComp('p',json[i].sobre,'plano-sobre'))
                div.appendChild(addComp('p',`Você paga por ${json[i].credito} ${json[i].credito=='1'?'mês':'meses'}`))
                div.appendChild(addComp('p','R$'+Number(json[i].valor).toFixed(2),'plano-preco strong'))

                const btn = addComp('button','ADD CRÉDITO','plano-btn')
                btn.addEventListener('click',()=>{
                    if(confirm('Este pagamento estaŕa disponível por 48 horas, caso não seja efetuado ele será cancelado automaticamente.')){
                        addCred(pageData.custumer.id,Number(json[i].valor).toFixed(2)).then(()=>{
                            try{
                                main_data.pn3_creditos.func.fillPgtos()
                            }catch{
                                null
                            }
                            closeModal('pn3_add_cred')
                        })
                    }
                })

                div.appendChild(btn)
                div.appendChild(addComp('p',' Preço por mês R$'+(Number(json[i].valor) / Number(json[i].credito)).toFixed(2),'small'))

                panel.appendChild(div)

            }
        })
    }

    pageStart()
</script>