<template>
    <style></style>

    <div class="inline">
        <label for="edtNome">Nome</label>
        <input type="text" id="edtNome" class="only-view" maxlength="50"  onfocus="this.select();">
    </div>
    <div class="inline">
        <label for="edtValor">Valor</label>
        <input type="text" id="edtValor" class="only-view" onfocus="this.select();" inputmode="decimal"  onkeyup="valFloat(this)">
    </div>
    <div class="inline">
        <label for="edtCredito">Crédito</label>
        <input type="text" id="edtCredito" class="only-view"onfocus="this.select();" inputmode="decimal"  onkeyup="valInt(this)" maxlength="2">
    </div>
    <div class="inline">
        <label for="edtSobre">Sobre</label>
        <textarea id="edtSobre" class="only-view" maxlength="512" rows="5"></textarea>
    </div>
    <div class="line">
        <button id="btnDel" class="only-view" disabled>Deletar</button>
        <button id="btnEdit">Editar</button>
        <button id="btnSave" class="only-view" disabled>Salvar</button>
    </div>


</template>
<script>
    const pageData = main_data.pn3_view_plano.data
    const pageFunc = main_data.pn3_view_plano.func
    const pageScreen = document.querySelector('#card-pn3_view_plano')
    const newPlano = Object.keys(pageData).length == 0

    function pageStart(){
        openFields(newPlano)

        if(newPlano){
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('#btnEdit').disabled = 1
        }else{
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtValor').value = pageData.valor
            pageScreen.querySelector('#edtCredito').value = pageData.credito
            pageScreen.querySelector('#edtSobre').value = pageData.sobre
            pageScreen.querySelector('#btnEdit').disabled = 0            
        }

    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageFunc.setPlano = (del=0)=>{
        if(checkField(['edtNome'])){
            const params = new Object;
                params.id = newPlano ? 0 : pageData.id
                params.nome = del ? '' : pageScreen.querySelector('#edtNome').value.trim()
                params.sobre = pageScreen.querySelector('#edtSobre').value.trim()
                params.valor = pageScreen.querySelector('#edtValor').value
                params.credito = pageScreen.querySelector('#edtCredito').value
            const myPromisse = queryDB(params,'CRED-1');
            myPromisse.then((resolve)=>{
                setLog(`PLANO ${newPlano ? 'Cadastrado':(del ? 'Deletado' : 'Editado')} ${ !newPlano ? pageData.nome :''} -> ${params.nome}`)
                try{
                    main_data.pn3_planos.func.fillPlanos()
                }catch{
                    console.error('Tela fechada pelo usuário!')
                }
                alert('Cadastrado efetuado!')
                closeModal('pn3_view_plano')
            })
        }
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setPlano()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja realmente deletar este Aluno e todas as suas aulas?')){
            pageFunc.setPlano(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    pageStart()
</script>