<template>
    <style>
        #lgd-user{
            text-align: center;
            font-weight: bold;
            padding: 20px;
        }

        .hide{
            display: none;
        }

        .but{
            width: 0;
            padding-right: 15px;
        }

        .center-text{
            text-align: center;
        }

        td > button{
            margin: 0;
            padding: 6px;
            width: 80px;
            border: none;
            border-radius: 5px;
            background-color: #0735ec;
            color: rgb(255, 255, 255);
        }

        td > button:hover{
            background-color: #13ff13e1;
        }

        td > p{
            text-align: center;
            margin: auto;
            border-radius: 5px;
            max-width: 80px;
            color: black;
            font-size: 0.8em;
        }

        .RECEIVED{
            background-color: #64f264b2;
        }

        .PENDING{
            background-color: #ffff00ba;
        }

        .CANCELED{
            background-color: #fb8484b2;
        }


    </style>

    <fieldset>
        <legend id="lgd-email"></legend>
        <p id="lgd-user"></p>
        <div class="line">
            <button id="btnAddCredit" disabled>Comprar Créditos</button>
        </div>
    </fieldset>


    <fieldset class="hide">
        <legend>Extrato</legend>
        <table id="tbl-creditos"></table>
    </fieldset>
    
    <fieldset class="hide">
        <legend>Pagamentos</legend>
        <table id="tbl-pgtos"></table>
    </fieldset>

    <div class="line">
        <p>Dúvidas, sugestões ou reclamações pelo whatsapp (12)9 9711-3793</p>
    </div>

</template>
<script>
    const pageData = main_data.pn3_creditos.data
    const pageFunc = main_data.pn3_creditos.func
    const pageScreen = document.querySelector('#card-pn3_creditos')
    const asaas = new Object

    function pageStart(){
        pageScreen.querySelector('#lgd-user').innerHTML = `Seus créditos expiram em ${localStorage.getItem('expira')}`

        buscaCli(localStorage.getItem('asaas_id')).then((response)=>{
            response.text().then((txt)=>{              
                asaas.custumer = JSON.parse(txt)
                pageScreen.querySelector('#lgd-email').innerHTML = asaas.custumer.email
                pageScreen.querySelector('#btnAddCredit').disabled = 0;
            })
        })
        pageFunc.fillPgtos()
    }

    pageFunc.fillCredits = ()=>{
        queryDB({},'CRED-3').then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tbl-creditos')
            tbl.head('Data,+Meses|center-text,Valor|center-text,Expira em|center-text')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'data_hora,credito|center-text,valor|center-text,expira_em|center-text','dat,int,R$.,dat')
            }

            tbl.parentNode.style.display = json.length ? 'block' : 'none'
            pageScreen.querySelector('#lgd-user').innerHTML = `Seus créditos expiram em ${json.length >0 ? json[0].expira.viewDate() : localStorage.getItem('expira')}`
        })
    }

    pageFunc.fillPgtos = ()=>{
        buscaCob(localStorage.getItem('asaas_id')).then((response)=>{
            response.text().then((txt)=>{                
                asaas.payments = JSON.parse(txt)
                const tbl = pageScreen.querySelector('#tbl-pgtos')
                tbl.innerHTML = ''
                tbl.head('Data,Valor|center-text,Status|center-text')
                for(let i=0; i<asaas.payments.length; i++){
                    const due = new  Date(asaas.payments[i].dueDate+' 23:59:59')
                    const now = new Date()
                    const venc = due < now
                    if(asaas.payments[i].status== 'PENDING' && venc){
                        asaas.payments[i].status = 'CANCELED'
                    }
                    tbl.plot(asaas.payments[i],'dateCreated,value|center-text,status,invoiceUrl|but',`dat,R$.,<p>|${asaas.payments[i].status},btn Pagar`)
                    const btn = pageScreen.querySelector('#btn_'+i)
                    btn.addEventListener('click',()=>{
                        window.open(asaas.payments[i].invoiceUrl, '_blank').focus();
                    })
                    btn.classList.add(asaas.payments[i].status == 'PENDING' ? 'enabled' : 'disabled')
                }
                tbl.parentNode.style.display = asaas.payments.length ? 'block' : 'none'
                pageFunc.fillCredits()
            })
        })
    }

    pageScreen.querySelector('#btnAddCredit').addEventListener('click',()=>{
        openHTML('pn3_add_cred.html','web-window','Adicione créditos ao seu acesso',asaas,800)
    })

    pageStart()
</script>