<template>
    <style></style>

    <fieldset>
        <legend>Mensagem</legend>

        <textarea id="edtMsg" rows="10"></textarea>
        <div class="line">
            <button id="btnPost">Postar</button>
        </div>
    </fieldset>

    <div class="legenda">

    </div>

</template>
<script>

    const pageData = main_data.post_new.data
    const pageFunc = main_data.post_new.func
    const pageScreen = document.querySelector('#card-post_new')
    const newReg = Object.keys(pageData).length <= 1

    function pageStart(){
        pageScreen.querySelector('#edtMsg').focus
    }

    function setPost(del=0){

        const params = new Object;
            params.id = newReg ? 0 : pageData.id
            params.id_parent = 0
            params.nome = del ? '' : 'txt'
            params.texto = pageScreen.querySelector('#edtMsg').value
            params.distancia = 0
            params.tempo = 0
            params.tipo = 'txt'
        const myPromisse = queryDB(params,'POST-1');
        myPromisse.then((resolve)=>{
            console.log('POSTOU!!')
        })
    }

    pageScreen.querySelector('#btnPost').addEventListener('click',()=>{
        setPost()
    })


    pageStart()

</script>