<template>
    <style>

        .show-map{
            padding: 15px;
        }

        #map { 
            height: 300px;
/*            max-width: 75vw; */
        }

        #layer{
            cursor: pointer;
            text-align: end;
        }

         #layer:hover{
            color: blue;
         }

    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <fieldset class="show-map">
        <legend>Mapa</legend>
        <div id="map"></div>
        <div id="layer">View Sat</div>
    </fieldset>

    <fieldset>
        <legend>Altimetria</legend>
        <div id="chart_div" style="width: 100%; height: 500px;"></div>

    </fieldset>

</template>
<script>

    const pageData = main_data.post_track.data
    const pageFunc = main_data.post_track.func
    const pageScreen = document.querySelector('#card-post_track')

    const mapUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    const satUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'

    var map

    function pageStart(){

        getFile(pageData.file).then((resp)=>{
            pageData.gps = JSON.parse(resp)

            loadMap(pageData.gps.points[0].lat,pageData.gps.points[0].lon)
            drawTrack(pageData.gps.points)


            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            console.log(map.alt)



            console.log(pageData)

        })

    }

    function loadMap(lat,lon){
        map = L.map('map').setView([lat,lon], 13);

        setLayer()

    }

    function setLayer(lay='map'){
        const mapUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
        const satUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'
        try{
            map.removeLayer(map.layer);
        }catch{ null }

        map.layer = L.tileLayer( lay=='map' ? mapUrl : satUrl , {
            maxZoom: 18,
            attribution: `Strava Clone 1.0`
        }).addTo(map);
        map.layer.name = lay

    }

    function drawTrack(pts){
        map.points = []
        map.alt = [['Km: ','Alt(m) ']]
        for(let i=0; i<pts.length; i++){
            map.points.push([pts[i].lat,pts[i].lon])
            map.alt.push([parseFloat(pts[i].dist),parseFloat(pts[i].ele)])
        }
        var polygon = L.polygon(map.points).addTo(map);
    }

    pageScreen.querySelector('#layer').addEventListener('click',()=>{
        if(map.layer.name == 'sat'){
            pageScreen.querySelector('#layer').innerHTML = 'View Sat'
        }else{
            pageScreen.querySelector('#layer').innerHTML = 'View Map'
        }
        setLayer(map.layer.name == 'map' ? 'sat' : 'map')
    })


    function drawChart() {
//        console.log(map.alt)
        var data = google.visualization.arrayToDataTable(map.alt);

        var options = {
          title: 'Strava Clone 1.0',
          hAxis: {title: 'Km',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }


    pageStart()

</script>