<template>
    <style>

        .show-map{
            padding: 15px;
        }

        #map { 
            height: 300px;
/*            max-width: 75vw; */
        }

    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <fieldset class="show-map">
        <legend>Mapa</legend>
        <div id="map"></div>
        <div id="layer">Change Layer</div>
    </fieldset>

    <div class="legenda">

    </div>

</template>
<script>

    const pageData = main_data.post_track.data
    const pageFunc = main_data.post_track.func
    const pageScreen = document.querySelector('#card-post_track')

    var map
    var layer

    var mapUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    var satUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'

    function pageStart(){

        getFile(pageData.file).then((resp)=>{
            pageData.gps = JSON.parse(resp)

            loadMap(pageData.gps.points[0].lat,pageData.gps.points[0].lon)

            console.log(pageData)

            drawTrack(pageData.gps.points)
        })

    }

    function loadMap(lat,lon){
        map = L.map('map').setView([lat,lon], 13);
        
        layer = L.tileLayer(mapUrl, {
            maxZoom: 18,
            attribution: 'Strava Clone 1.0'
        }).addTo(map);

    }

    function drawTrack(pts){
        const points = []
        for(let i=0; i<pts.length; i++){
            points.push([pts[i].lat,pts[i].lon])
        }
        var polygon = L.polygon(points).addTo(map);
    }

    function setLayer(layer_url){

    }

    pageScreen.querySelector('#layer').addEventListener('click',()=>{        

        map.removeLayer(layer);

        layer = L.tileLayer(satUrl, {
            maxZoom: 18,
            attribution: 'Strava Clone 1.0'
        }).addTo(map);

    })


    pageStart()

</script>