<template>
    <style>
        .fds-file{
            display: flex;
            justify-content: center;
        }
    </style>

    <fieldset class="fds-file">
        <legend>Arquivo GPX</legend>
        <input  name="up_file" id="up_file" type="file" accept=".gpx">  
    </fieldset>

    <div class="legenda">

    </div>

</template>
<script>

    const pageData = main_data.post_gpx.data
    const pageFunc = main_data.post_gpx.func
    const pageScreen = document.querySelector('#card-post_gpx')

    pageScreen.querySelector('#up_file').addEventListener('change',()=>{

        const up = uploadGPX('up_file','teste.gpx')
        up.then((resp)=>{
            const json = JSON.parse(resp)

            console.log(json)
            closeModal('post_gpx')
        })

    })


</script>