<template>
    <style></style>

    <fieldset>
        <legend>Mensagem</legend>

        <textarea id="edtMsg" rows="10"></textarea>
        <div class="line">
            <button id="btnPost">Postar</button>
        </div>
    </fieldset>

    <div class="legenda">

    </div>

</template>
<script>

    const pageData = main_data.post_new.data
    const pageFunc = main_data.post_new.func
    const pageScreen = document.querySelector('#card-post_new')
    const newReg = Object.keys(pageData).length <= 1

    function pageStart(){
        pageScreen.querySelector('#edtMsg').value = newReg ? '' : pageData.texto
        pageScreen.querySelector('#edtMsg').focus
    }

    function postar(){

        const params = new Object;
            params.id = newReg ? 0 : pageData.id
            params.id_parent = 0
            params.nome = 'txt'
            params.texto = pageScreen.querySelector('#edtMsg').value
            params.distancia = 0
            params.tempo = 0
            params.tipo = 'txt'
        setPost(params).then((resolve)=>{
            if(newReg){
                getPost(today.getFullDateTime())
            }else{
                document.querySelector('#content-screen').querySelector(`#post-${pageData.id}`).querySelector('.post-text').innerHTML = pageScreen.querySelector('#edtMsg').value
            }
            closeModal('post_new')
        })
    }

    pageScreen.querySelector('#btnPost').addEventListener('click',()=>{
        postar()
    })


    pageStart()

</script>