<template>
    <style>
        .resp-busca{
            width: 100%;
            max-height: 400px;
            overflow-y: scroll;
        }

    </style>

    <p>Este aplicativo tem como objetivo montar uma plataforma totalmente aberta e livre para todos os usuários</p>



    <div class="resp-busca">
        <table id="tblCli"></table>
    </div>
</template>
<script>

    const pageData = main_data.sobre.data
    const pageFunc = main_data.sobre.func
    const pageScreen = document.querySelector('#card-sobre')



</script>